.alert {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 10px solid $curious-blue;
    background-color: $white-ice;

    p:last-child {
        margin-bottom: 0;
    }
}
