@model DVSRegister.Models.CAB.PrimaryContactViewModel
@{
    ViewData["Title"] = "Change primary contact information";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}


@using (Html.BeginForm("UpdatePrimaryContact", "CabProviderEdit", FormMethod.Post))
{
@Html.HiddenFor(m => m.ProviderId)
<div class="govuk-width-container">
    @await Html.PartialAsync("~/Views/PartialViews/_BackButton.cshtml")
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                @if (ViewData.ModelState.ErrorCount > 0)
                {

                    ViewData["Title"] = "Error: " + ViewData["Title"];
                    @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                }
                <h1 class="govuk-heading-xl">
                    Change primary contact information
                </h1>

                    @await Html.PartialAsync("~/Views/CabProvider/PartialViews/_PrimaryContactView.cshtml", Model)


                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Change
                    </button>
                    <a href="@($"{Url.Action("ProviderDetails", "CabProvider", new { providerId = Model.ProviderId })}#contact-information")"
                        class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">
                        Cancel
                    </a>

                </div>

            </div>
        </div>
    </main>
</div>
}

