@model dynamic

@{
    var registeredName  = (string)Model.RegisteredName;
    var serviceNames    = (List<string>)Model.ServicesNeedingCertificateUpload;
}

<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            You have new services added to your profile that need replacement certificates:
        </p>
        <p class="govuk-body govuk-!-margin-bottom-2">
            @registeredName - @string.Join(", ", serviceNames)
        </p>
    </div>
</div>