
@{
    ViewData["Title"] = "ApplicationComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ApplicationComplete</h1>

@using (Html.BeginForm("SubmitApplication", "PreAssessment", FormMethod.Post))
{


    <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit
    </button>
}

