@model DVSRegister.Models.CountryViewModel
@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Country</h1>


@using (Html.BeginForm("SaveCountry", "PreAssessment", FormMethod.Post))
{

    <label class="govuk-label govuk-label--l" for="event-name">
        CountryName
    </label>


    @Html.TextBoxFor(m => m.Name, new { @class = "govuk-input", id = "event-name", name = "eventName" })
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
    </button>
}

