@model DVSRegister.Models.SummaryViewModel
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Summary</h1>

@using (Html.BeginForm("SaveSummaryAndSubmit", "PreAssessment", FormMethod.Post))
{

   
    @Html.CheckBoxFor(m => m.ConfirmAccuracy, new { @checked = "checked" })
    <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
    </button>
}



