@media (min-width: 48.0625em) {
    .govuk-header__logo {
        width: auto;
        padding-right: 15px;
        float: left;
        vertical-align: top;
    }

    .govuk-header__content {
        width: auto;
        padding-left: 15px;
        float: right;
    }
}

:root {
    --brand: #1d70b8;
    --white: #fff;
    --grey: #505a5f; /* GOV.UK grey */
    --focus: #ffdd00;
    --black: #0b0c0c;
}

.sortable-table [aria-sort] {
    color: #1d70b8;
    cursor: pointer;
    font: inherit;
    padding: 0 10px 0 0;
    position: relative;
    text-align: inherit;
    margin: 0;
}

    .sortable-table [aria-sort] a,
    .sortable-table [aria-sort] button {
        display: inline-flex;
        align-items: center;
        color: inherit;
        text-decoration: none;
    }

/* Glyphs */
.sortable-table [aria-sort="none"] a::after,
.sortable-table [aria-sort="none"] button::after {
    content: "▲\A▼";
    white-space: pre;
    font-size: .5em;
    margin-left: .3em;
    line-height: 1;
    display: inline-block;
}

.sortable-table [aria-sort="ascending"] a::after,
.sortable-table [aria-sort="ascending"] button::after {
    content: "▲";
    font-size: .8em;
    margin-left: .3em;
}

.sortable-table [aria-sort="descending"] a::after,
.sortable-table [aria-sort="descending"] button::after {
    content: "▼";
    font-size: .8em;
    margin-left: .3em;
}

.sortable-table [aria-sort] a::before,
.sortable-table [aria-sort] button::before {
    content: none;
}


.sortable-table [aria-sort] a:focus,
.sortable-table [aria-sort] a:focus-visible,
.sortable-table [aria-sort] button:focus,
.sort.sortable-table [aria-sort] button:focus-visible {
    background-color: var(--focus);
    color: var(--black);
    border: none;
    border-bottom: 3px solid var(--black);
    outline: none;
    text-decoration-thickness: .1875rem;
}


.dashboard-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(221px, 1fr));
    gap: 20px;
    margin: 10px 0 30px;
}

.dashboard-summary__card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 160px;
    background: var(--white);
    border: 3px solid var(--brand);
    color: var(--brand);
    text-decoration: none;
    transition: color .15s ease, background-color .15s ease, border-color .15s ease;
}

.dashboard-summary__card--emphasised {
    background: var(--brand);
    border-color: var(--brand);
    color: var(--white);
}

.dashboard-summary .dashboard-summary__count,
.dashboard-summary .dashboard-summary__label,
.dashboard-summary .dashboard-summary__arrow {
    color: inherit;
}

    .dashboard-summary .dashboard-summary__arrow path {
        fill: currentColor;
    }

.dashboard-summary__count {
    font-family: "GDS Transport", Arial, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.05;
}

.dashboard-summary__label {
    font-family: "GDS Transport", Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    margin-top: 8px;
    margin-bottom: auto;
}

.dashboard-summary__gap {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.dashboard-summary__arrow {
    width: 20px;
    height: 18px;
    display: block;
}


.dashboard-summary__card .govuk-link,
.dashboard-summary__card .govuk-link:hover
{
    color: inherit;
    text-decoration: none;
}

.dashboard-summary__card:not(.dashboard-summary__card--emphasised):hover
 {
    color: var(--grey);
    border-color: var(--brand);
    text-decoration: none;
}

.dashboard-summary__card--emphasised:hover
{
    background: var(--brand);
    color: var(--white);
    border-color: var(--brand);
    text-decoration: none;
}   


/* Focus and click or tab click */
.dashboard-summary__card--emphasised:focus,
.dashboard-summary__card:focus,
.dashboard-summary__card--emphasised:focus-visible,
.dashboard-summary__card:focus-visible,
.dashboard-summary__card--emphasised:active,
.dashboard.dashboard-summary__card:active,
.dashboard-summary__card--emphasised:hover:focus,
.dashboard-summary__card:hover:focus 

{
    background: var(--focus);
    border-color: var(--black);
    color: var(--black);
    border-style: solid;
    border-width: 3px;
    outline: none;
    text-decoration-thickness: .1875rem;
}

  
@media (prefers-reduced-motion: reduce) {
    .dashboard-summary__card {
        transition: none;
    }
}
.dsit-search-filter-box {
    display: flex;
    align-items: center;
    background-color: #f3f2f1;
    padding: 20px;
    padding-bottom: 5px;
}
.dsit-search-filter-box__tags {
    font-size: 0;
    margin-bottom: 20px;
    padding-left: 0;
}
.dsit-search-filter-box__tags li {
    display: inline-block;
    margin-right: 10px;
}
.dsit-search-filter-box__tag {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1428571429;
    background-color: #ffffff;
    border: 1px solid #0b0c0c;
    color: #0b0c0c;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
    padding: 5px 8px;
    text-decoration: none;
    cursor: pointer;
}
@media print {
    .dsit-search-filter-box__tag {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .dsit-search-filter-box__tag {
        font-size: 1rem;
        line-height: 1.25;
    }
}
@media print {
    .dsit-search-filter-box__tag {
        font-size: 14pt;
        line-height: 1.2;
    }
}
.dsit-search-filter-box__tag:link, .dsit-search-filter-box__tag:visited {
    color: #0b0c0c;
}
.dsit-search-filter-box__tag:focus {
    color: #0b0c0c;
    background-color: #ffdd00;
    outline: 3px solid #ffdd00;
    outline-offset: 0;
}
.dsit-search-filter-box__tag:hover {
    background-color: #0b0c0c;
    color: #ffffff;
}
.dsit-search-filter-box__tag:after {
    background-image: url(../assets/images/icon-tag-remove-cross.svg);
    content: "";
    display: inline-block;
    font-weight: bold;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
    width: 10px;
}
.dsit-search-filter-box__tag:hover:after {
    background-image: url(../assets/images/icon-tag-remove-cross-white.svg);
}

.visible-column {
    border-left: 1px solid #b1b4b6;
    padding-left: 20px;
}

/* Remove box-shadow from search button to eliminate border under search button */
.govuk-input__wrapper .govuk-button {
    box-shadow: none;
  
}
.dwp-timeline {
    font-family: GDS Transport,arial,sans-serif;
}

.dwp-timeline__items {
    padding: 0;
    list-style-type: none;
    border-left: 5px solid #1D70B8;
}

.dwp-timeline__item {
    position: relative;
    top: -8px;
    margin: 15px 0;
    padding: 0 0 15px 18px;
}

    .dwp-timeline__item::before {
        content: "";
        position: absolute;
        top: 8px;
        left: -1px;
        width: 11px;
        border-top: 5px solid #1D70B8;
    }

@media (max-width: 48.0525em) {
    .dwp-timeline__item {
        padding-top: 2px;
    }
}

.dwp-timeline__datetime {
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1.188rem;
    line-height: 1.25;
    margin-bottom: 5px;
}

@media (min-width: 40.0625em) {
    .dwp-timeline__datetime {
        font-size: 1.188rem;
        line-height: 1.25;
    }
}

@media print {
    .dwp-timeline__datetime {
        font-size: 14pt;
        line-height: 1.2;
    }
}

/* Blue variant of govuk-button for search bar */
.govuk-button--blue {
    background-color: #1d70b8 !important;
    box-shadow: 0 2px 0 #1d70b8 !important;
}

.govuk-button--blue:link,
.govuk-button--blue:visited,
.govuk-button--blue:active,
.govuk-button--blue:hover {
    color: #ffffff !important;
}

.govuk-button--blue:hover {
    background-color: #003078 !important;
}

.govuk-button--blue:focus:not(:active):not(:hover) {
    border-color: #ffdd00 !important;
    color: #0b0c0c !important;
    background-color: #ffdd00 !important;
}

.search-bar-width {
    width: 50%;
}

/* Filter panel */

.app-c-filter-panel {
    border-top: 1px solid #b1b4b6;
    border-bottom: 1px solid #b1b4b6;
    padding: 20px 0;
    margin-bottom: 30px;
}
.app-c-filter-panel__count {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    font-weight: 400;
}
@media print {
    .app-c-filter-panel__count {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-c-filter-panel__count {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}
@media print {
    .app-c-filter-panel__count {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.app-c-filter-panel__content {
    margin-top: 20px;
    background-color: #f3f2f1;
    padding: 0 20px 20px 20px;
}
.app-c-filter-panel__content[hidden] {
    display: none;
}
.app-c-filter-panel__actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    padding-top: 0;
}
.app-c-filter-panel__action {
    margin-bottom: 0;
    width: 100%;
    padding: 10px 15px;
}

/* Styles for details-based filter panel */
.app-c-filter-panel > summary {
    list-style: none;
    cursor: pointer;
    pointer-events: none;
}

.app-c-filter-panel > summary::-webkit-details-marker {
    display: none;
}

.app-c-filter-panel > summary.app-c-filter-panel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

.app-c-filter-panel > summary .app-c-filter-panel__button-inner {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: 0.1578em;
    color: #1d70b8;
    display: inline-block;
    padding: 0px 10px 0px 25px;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
}

@media print {
    .app-c-filter-panel > summary .app-c-filter-panel__button-inner {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-c-filter-panel > summary .app-c-filter-panel__button-inner {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

@media print {
    .app-c-filter-panel > summary .app-c-filter-panel__button-inner {
        font-size: 14pt;
        line-height: 1.15;
    }
}

.app-c-filter-panel > summary .app-c-filter-panel__button-inner::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(45deg);
}

.app-c-filter-panel[open] > summary .app-c-filter-panel__button-inner::before {
    top: 10px;
    transform: rotate(-135deg);
}

.app-c-filter-panel > summary:hover .app-c-filter-panel__button-inner {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
    color: #003078;
}

.app-c-filter-panel > summary:focus {
    outline: none;
}

.app-c-filter-panel > summary:focus .app-c-filter-panel__button-inner {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.app-c-filter-section {
    margin-bottom: 0;
}
.app-c-filter-section:not(:last-of-type) {
    border-bottom: 1px solid #b1b4b6;
}
.app-c-filter-section > summary {
    margin-bottom: 0;
}
.app-c-filter-section[open] > summary {
    margin-bottom: 15px;
}
.app-c-filter-section__summary {
    padding: 20px 0;
    cursor: pointer;
    list-style: none;
    pointer-events: none;
}
.app-c-filter-section__summary::-webkit-details-marker {
    display: none;
}
.app-c-filter-section__summary:focus {
    outline: none;
}
.app-c-filter-section__summary:focus .app-c-filter-section__summary-heading {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.app-c-filter-section__summary:hover .app-c-filter-section__summary-heading {
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: 0.3156em;
}
.app-c-filter-section__summary-heading {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    text-underline-offset: 0.1578em;
    display: inline-block;
    padding: 0px 10px 0px 25px;
    position: relative;
    pointer-events: auto;
    cursor: pointer;
}
@media print {
    .app-c-filter-section__summary-heading {
        font-family: sans-serif;
    }
}
@media (min-width: 40.0625em) {
    .app-c-filter-section__summary-heading {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}
@media print {
    .app-c-filter-section__summary-heading {
        font-size: 14pt;
        line-height: 1.15;
    }
}
.app-c-filter-section__summary-heading::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid #0b0c0c;
    border-right: 2px solid #0b0c0c;
    transform: rotate(45deg);
}
details[open] > .app-c-filter-section__summary .app-c-filter-section__summary-heading::before {
    top: 10px;
    transform: rotate(-135deg);
}
.app-c-filter-section__content {
    padding: 0 0 20px 0;
}
.app-c-filter-section__content .govuk-form-group:last-child {
    margin-bottom: 0;
}
.js-hidden{
    display:none
}

@media (max-width: 40.0525em) {
    .app-c-filter-panel__header {
        flex-direction: row;
        justify-content: space-between;
    }
    .app-c-filter-panel__count {
        margin-left: 15px;
    }
    .app-c-filter-panel__actions {
        flex-direction: column;
        gap: 10px;
    }
    .app-c-filter-panel__actions button {
        width: 100%;
    }
    .app-c-filter-panel > summary .app-c-filter-panel__button-inner::before {
        top: 0px;
    }
    .app-c-filter-panel[open] > summary .app-c-filter-panel__button-inner::before {
        top: 7px;
    }

    .app-c-filter-section__summary-heading::before {
        top: 0px;
    }

    details[open] > .app-c-filter-section__summary .app-c-filter-section__summary-heading::before {
        top: 7px;
    }

    .search-bar-width {
        width: 100%;
    }
}


@media print {
    .govuk-button {
        display: none !important;
    }
}
