
@{
    ViewData["Title"] = "Before you submit a service";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "LandingPage", "Cab", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl">Before you submit a service</h1>

                <p class="govuk-body">Before starting your submission, check that you have all the required information and documentation listed below.If you need to save your progress while completing your submission and resume later, you can select 'Save and return later'.</p>

                <p class="govuk-body">You will need the following information exactly as it is shown on the service provider’s certificate:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>name of service</li>
                    <li>URL link to the service</li>
                    <li>company address details</li>
                    <li>type of roles certified against</li>
                    <li>GPG 44 quality of authenticator and level of protection, if applicable</li>
                    <li>GPG 45 identity profiles, if applicable</li>
                    <li>supplementary codes, if applicable</li>
                    <li>certificate of conformity issue date</li>
                    <li>certificate of conformity expiry date</li>
                </ul>

                <p class="govuk-body">You will need to upload the following documentation:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>PDF copy of the service provider’s certificate of conformity</li>
                </ul>


                <p class="govuk-body">Once OfDIA has approved the submission, some of the information you have provided will be publicly available on the register of digital identity and attribute services.</p>


                <p class="govuk-body">@Html.ActionLink("Continue", "ServiceName", "CabService", new { providerProfileId = ViewBag.ProviderProfileId }, new { @class = "govuk-button" })</p>
            </div>
        </div>
    </main>
</div>

