@{
    ViewData["Title"] = "Northrow Limited";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "[LINK]", "Cab", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h1 class="govuk-heading-xl">
                    Service [X] details
                </h1>
            </div>
            <div class="govuk-grid-column-full">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Company information
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Name of service
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Identity guard
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Publication date
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    10:24 am; 1 Feb 2024
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Status
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <strong class="govuk-tag govuk-tag--green">
                                        Published
                                    </strong>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Public contact email
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    name@email.com
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Telephone number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    07532167283
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Website address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    www.yourcompanyexpress.co.uk
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Company address details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    5126 N Ravenswood Ave<br />
                                    Unit 8<br />
                                    Chicago<br />
                                    Illinois<br />
                                    60640<br />
                                    United States<br />
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Name of roles certified against
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Identity Service Provider (IDSP)<br />
                                    Attribute Service Provider (ASP)<br />
                                    Orchestration Service Provider (OSP)<br />  
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Identity profiles
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Label
                                    Label
                                    Label
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Supplementary schemes
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Right to Work
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Service provider’s certificate
                                    of conformity
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Certificate-DateOfIssue-TradingName-ServiceName.pdf
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of issue
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    11 June 2023
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of expiry
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    11 June 2026
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

