@model DVSRegister.Models.CAB.ServiceSummaryViewModel
@using DVSRegister.Extensions
@using DVSRegister.CommonUtility.Models
@{
    ViewData["Title"] = "Check your answers before submitting your application";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@using (Html.BeginForm("SaveServiceSummary", "CabService", FormMethod.Post))
{
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "ConfirmityExpiryDate", "CabService", null, new { @class = "govuk-back-link" })
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl"> Check your answers before submitting your application</h1>

                </div>
                <div class="govuk-grid-column-full">


                    @await Html.PartialAsync("~/Views/Cab/PartialViews/_ServiceSummaryView.cshtml", Model)

                </div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
                            If OfDIA approves this submission, the information you have provided
                            will be publicly available
                        </strong>
                    </div>
                </div>
            </div>


            <button type="submit" data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
                Submit
            </button>
        </main>
    </div>

}

