@{
    ViewData["Title"] = "Service reassignment request rejected";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Service reassignment request rejected</h1>
                <p class="govuk-body">
                    You have rejected a request to reassign this service to your
                    Conformity Assessment Body (CAB).
                </p>
                <p class="govuk-body">
                    Provider: @TempData["ProviderName"]<br />
                    Service:  @TempData["ServiceName"] <br />
                </p>
                <p class="govuk-body govuk-!-margin-bottom-0">You will not be able to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        access the service on the <a href=@TempData["CabURL"] class="govuk-link">Conformity Assessment Body Service</a>
                    </li>
                    <li>
                        issue a replacement certificate for this service, if it has recently been
                        transferred to your CAB
                    </li>
                </ul>
                <h2 class="govuk-heading-m">If you need help</h2>
                <p class="govuk-body">
                    If you need help, you can email the Office for Digital Identities and Attributes
                    on: <strong>digital.identity.register@dsit.gov.uk.</strong>
                </p>
                <p class="govuk-body"> You can close this page now.</p>
                <a href="@Url.Action("PendingReassignmentRequests", "Home")" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                    Return to Open tasks
                </a>
            </div>
        </div>
    </main>
</div>