@model DVSRegister.Models.CAB.EnterCodeViewModel

@{
    ViewData["Title"] = "Enter the code";
    Layout = "~/Views/Shared/_Layout_CAB.cshtml";
}

@{
    bool hasError = false;
}

@using (Html.BeginForm("EnterCodeValidation", "Login", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PasswordReset)
    @Html.HiddenFor(m => m.Email)
    <div class="govuk-width-container">
        <main id="main-content" class="govuk-main-wrapper" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (Html.ViewData?.ModelState.ContainsKey("Code") == true)
                    {
                        var errors = Html.ViewData?.ModelState["Code"]?.Errors;
                        if (errors != null && errors.Count > 0)
                        {
                            hasError = true;
                            ViewData["Title"] = "Error: " + ViewData["Title"];
                            @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                                     new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("Code", errors))
                        }
                    }
                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Enter the code</h1>

                    <p class="govuk-body">We have sent a code to: <strong>@(Model.Email) </strong></p>
                    <p class="govuk-body">It might take a few minutes to arrive. The code will expire in 60 minutes.</p>

                    @{
                        var enterCodeViewmodel = new TextBoxViewModel
                        {
                            PropertyName = "Code",
                            Label = "Enter code",
                            Hint = "This is a six-digit passcode. For example, 623452",
                            Value = Model?.Code ?? string.Empty,
                            Class = "govuk-input govuk-input--width-10",
                            HasError = hasError,
                            ErrorMessage = hasError ? Html.ViewData?.ModelState["Code"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                        };
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", enterCodeViewmodel)


                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Confirm
                    </button>

                    <br />
                    <a href="~/cab-application-registration/enter-email" class="govuk-button govuk-button--secondary">Send code again</a>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                I haven't received a code
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                We have sent the code to the email address that you used to set up your account.
                            </p>

                            <p class="govuk-body">If you are experiencing issues or need help, please contact the Office for Digital Identities and Attributes at <a href="mailto:digital.identity.register@dsit.gov.uk">digital.identity.register@dsit.gov.uk</a></p>
                        </div>
                    </details>

                </div>
            </div>
        </main>
    </div>
}