@model DVSRegister.Models.CAB.EnterCodeViewModel

@{
    ViewData["Title"] = "Enter confirmation code";
    Layout = "~/Views/Shared/_Layout_CAB.cshtml";
}

@using (Html.BeginForm("EnterCodeValidation", "Login", FormMethod.Post))
{
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Enter the code</h1>

                    <p class="govuk-body">We have sent a code to: <strong>@(Model.Email) </strong></p>
                    <p class="govuk-body">It might take a few minutes to arrive. The code will expire in 60 minutes.</p>

                    <div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey("code") && Html.ViewData.ModelState["code"].Errors.Count > 0 ? "govuk-form-group--error" :"" )">

                        <label class="govuk-label" for="code">
                            Enter code
                        </label>
                        <div id="enter-code-hint" class="govuk-hint">
                            For example, 226745
                        </div>

                        @Html.ValidationMessageFor(m => m.Code, "", new { @class = "govuk-error-message" })
                        @Html.TextBoxFor(m => m.Code, new { @class = "govuk-input govuk-input--width-10", id = "code", name = "code", @aria_DescribedBy = "enter-code-hint" })
                    </div>

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Confirm
                    </button>

                    <br />
                    <a href="~/login" class="govuk-button govuk-button--secondary">Send code again</a>

                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                I have not received the email
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">
                                We have sent the email to the address you used to set up your account. The email’s subject line is: “Confirm your email address - Conformity Assessment Bodies Service.”
                            </p>

                            <p class="govuk-body">If you are experiencing issues or need help, please contact the Office for Digital Identities and Attributes at <a href="mailto:ofdiaemail@gov.uk">ofdiaemail@gov.uk</a></p>
                        </div>
                    </details>

                </div>
            </div>
        </main>
    </div>
}