@model DVSRegister.Models.CAB.EnterEmailViewModel
@{
    ViewData["Title"] = "Enter your email address";
    Layout = "~/Views/Shared/_Layout_CAB.cshtml";
}

@{
    bool hasError = false;
}

@using (Html.BeginForm("EnterEmail", "Login", FormMethod.Post))
{
    @Html.HiddenFor(m => m.PasswordReset)
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    @if (Html.ViewData?.ModelState.ContainsKey("Email") == true)
                    {
                        var errors = Html.ViewData?.ModelState["Email"]?.Errors;
                        if (errors != null && errors.Count > 0)
                        {
                            hasError = true;
                            ViewData["Title"] = "Error: " + ViewData["Title"];
                            @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                                     new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("Email", errors))
                        }
                    }
                    <h1 class="govuk-heading-xl govuk-!-margin-top-8">Enter your email address</h1>

                    <p class="govuk-body">Ensure the email that you provide has been authorised by the Department for Science, Innovation and Technology.</p>

                    <p class="govuk-body">You will receive a code to verify your email address.</p>

                    @{
                        var enterEmailViewmodel = new TextBoxViewModel
                        {
                            PropertyName = "Email",
                            Label = "Email address",
                            Value = Model?.Email ?? string.Empty,
                            Class = "govuk-input",
                            HasError = hasError,
                            ErrorMessage = hasError ? Html.ViewData?.ModelState["Email"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                        };
                    }

                    @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", enterEmailViewmodel)

                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}
