@{
    ViewData["Title"] = "Account created successfully";
    Layout = "~/Views/Shared/_Layout_CAB.cshtml";
}


<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Account created successfully
                    </h1>
                </div>

                <p class="govuk-body">
                    You have successfully created your account on the Conformity Assessment Body Service.
                </p>

                <p class="govuk-body">
                    You can now use your sign in to sign in to your account:
                <p class="govuk-body">
                    <a href="~/cab-application-registration/login" class="govuk-link">Sign in to your account here</a>
                </p>
                <p class="govuk-body">
                    For security purposes, please do not share your account credentials with anyone else.
                <h2 class="govuk-heading-m">If you need to add someone else from your organisation</h2>
                <p class="govuk-body">
                    You can add more people by contacting Office for Digital Identities and Attributes on <a href="mailto:digital.identity.register@dsit.gov.uk" class="govuk-link">digital.identity.register@dsit.gov.uk</a>.
                </p>

            </div>
        </div>
    </main>
</div>