
@{
    ViewData["Title"] = "CAB Portal";
    Layout = "~/Views/Shared/_Layout_CAB.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl govuk-!-margin-top-8">Sign up to the Conformity Assessment Bodies Service</h1>

                <p class="govuk-body">This service allows Conformity Assessment Bodies to create an account and submit information specifically related to the certificate of conformity of a digital identity and attribute service provider.</p>

                <p class="govuk-body">Use this service to:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Create an account</li>
                    <li>Submit information on behalf of a digital identity and attribute service provider</li>
                    <li>Check unique reference numbers</li>
                </ul>


                <p class="govuk-body">You must use the work email address that you used to contact the Office for Digital Identities and Attributes to register with this Service. You will also need access to your mobile phone.</p>

                <a href="~/cab-application-registration/sign-up" class="govuk-button">Create a new account</a>

                <br />
                <a href="~/cab-application-registration/login" class="govuk-button govuk-button--secondary">Sign in</a>

            </div>
        </div>
    </main>
</div>

