@using DVSRegister.Extensions
@model DVSRegister.Models.CAB.ServiceSummaryViewModel
@{
    bool manual = Model?.SelectedUnderPinningServiceId == null;
    bool confirmed = ViewData["Confirmed"] as bool? ?? false;
}
<div class="govuk-grid-column-full govuk-!-padding-0">
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
                Underpinning Service
            </h2>
            @if (!confirmed)
            {
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link" href="@Url.Action("ConfirmUnderpinningService", "TrustFramework0_4", new { serviceId = Model.SelectedUnderPinningServiceId, inRegister = false,
                         fromSummaryPage = ViewBag.fromSummaryPage, fromDetailsPage = ViewBag.fromDetailsPage})">Confirm</a>
                    </li>
                </ul>
            }
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Service name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.UnderPinningServiceName
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            <a asp-action="EditUnderpinningServiceName"
                               asp-controller="TrustFramework0_4"
                               asp-route-serviceId="#"
                               class="govuk-link">
                                Change <span class="govuk-visually-hidden">service name</span>
                            </a>
                        </dd>
                    }
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Service provider
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.UnderPinningProviderName
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            <a asp-action="EditUnderpinningServiceProvider"
                               asp-controller="TrustFramework0_4"
                               asp-route-serviceId="#"
                               class="govuk-link">
                                Change <span class="govuk-visually-hidden">service provider</span>
                            </a>
                        </dd>
                    }
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Conformity Assessment Body of Underpinning service
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model?.SelectCabViewModel?.SelectedCabName
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            <a asp-action="EditUnderpinningServiceCAB"
                               asp-controller="TrustFramework0_4"
                               asp-route-serviceId="#"
                               class="govuk-link">
                                Change <span class="govuk-visually-hidden">conformity assessment body of underpinning service</span>
                            </a>
                        </dd>
                    }
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Underpinning service certificate expiry date
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @DateTimeExtensions.FormatDateTime(Model.UnderPinningServiceExpiryDate, "dd MMM yyyy")
                    </dd>
                    @if (manual)
                    {
                        <dd class="govuk-summary-list__actions">
                            <a asp-action="EditUnderpinningServiceCertificateExpiryDate"
                               asp-controller="TrustFramework0_4"
                               asp-route-serviceId="#"
                               class="govuk-link">
                                Change <span class="govuk-visually-hidden">underpinning service certificate expiry date</span>
                            </a>
                        </dd>
                    }
                </div>
            </dl>
        </div>
    </div>
</div>