@{
    ViewData["Title"] = "Before you submit a new certificate for this service";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@model DVSRegister.Models.CAB.ServiceSummaryViewModel

<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderServiceDetails", "Cab", new { serviceKey = ViewBag.serviceKey }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <p class="govuk-body">
                    You should continue with this certificate submission if you are submitting a new certificate for an existing service. This could
                    be for one of the following reasons:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>The service has been transferred to you and you need to upload a new certificate</li>
                    <li>The previous certificate for this service has expired or is expiring soon</li>
                    <li>The scope of the certification for this service has changed and a new certificate is required</li>
                    <li>You are certifying this service against an updated version of the trust framework</li>
                </ul>

                <p class="govuk-body">
                    If the certificate is for a different service, or if the service details have changed significantly, you should create a new service submission
                    for this certificate.
                </p>
             
                @using (Html.BeginForm("ContinueSubmission", "CabServiceReApplication", FormMethod.Post))
                {
                    <button type="submit" class="govuk-button govuk-!-margin-top-2" data-module="govuk-button" name="action" value="continue">
                        Continue
                    </button>
                }
               
            </div>
        </div>
    </main>
</div>
