@model DVSRegister.BusinessLogic.Models.CAB.ServiceDto
@{
    ViewData["Title"] = "You are about to start a submission for a service that has an application already in progress";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @await Html.PartialAsync("~/Views/PartialViews/_BackButton.cshtml")
    s<main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
                <table class="govuk-table">                  
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Service name</th>
                            <th scope="col" class="govuk-table__header">Provider’s registered name</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">                            
                            <td class="govuk-table__cell">@Model.ServiceName</td>
                            <td class="govuk-table__cell">@Model.Provider.RegisteredName</td>
                        </tr>
                       
                    </tbody>
                </table>


                <p class="govuk-body">
                    You are about to start a submission for a service that has an application
                    already in progress, or that is currently under reassignment or removal.
                </p>
              

                <p class="govuk-body">
                    If you complete this submission, the application that is currently in progress
                    will be deleted and replaced by this submission. If it is under reassignment or
                    removal, the request will be cancelled.
                </p>

                <p class="govuk-body">
                    Select ‘Continue’ if you wish to start a submission.
                </p>


                <p class="govuk-body">@Html.ActionLink("Continue", "SelectVersionOfTrustFrameWork", "TrustFramework0_4", new { providerProfileId = ViewBag.ProviderProfileId }, new { @class = "govuk-button" })</p>

            </div>
        </div>
    </main>
</div>

