
@{
    ViewData["Title"] = "You have already agreed to publish your service on the register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You have already agreed to publish your service on the registerd</h1>
                <p class="govuk-body">
                    You have already agreed to publish your service on the register of digital identity and attribute services and a confirmation email has been sent to you.
                </p>
                <p class="govuk-body">
                    You will receive an email confirming when your service has been published. This can take up to 5 working days.
                </p>
                <p class="govuk-body">
                    For further support or information, please contact digital.identity.register@dsit.gov.uk.
                </p>
            </div>
        </div>
    </main>
</div>
