
@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">
                    Try again later.
                </p>
                <p class="govuk-body">
                    Your answer has not been saved. Follow the link you were sent via email and try and agree to publish your service details again.
                </p>
                <p class="govuk-body">
                    If you need further support, please contact digital.identity.register@dsit.gov.uk.
                </p>
            </div>
        </div>
    </main>
</div>
