
@{
    ViewData["Title"] = "Your application is already in progress";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l govuk-!-margin-top-2">An application for this service is already in progress</h1>
                <p class="govuk-body">
                    We're already reviewing an application for this service.
                </p>
                <p class="govuk-body">
                    We aim to email you within 20 working days with the outcome.
                </p>
                <p class="govuk-body">
                    For further support, please contact
                    digital.identity.register@dsit.gov.uk.
                </p>
            </div>
        </div>
    </main>
</div>