@{
    ViewData["Title"] = "Your service will not be published on the register of digital identity and attribute services";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Your service will not be published on the register of digital identity and attribute services</h1>
                <p class="govuk-body">
                    You have chosen not to publish this service on the register of digital identity and attribute services.
                </p>
                <p class="govuk-body">
                    If you wish to publish details of this service on the register at a later date, please contact your Conformity Assessment Body.
                </p>
        </div>
    </main>
</div>
