@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "White-labelled service";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "UnderpinningChoice", "TrustFramework0_4", null, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>
                <div class="govuk-body">
                    <h2 class="govuk-heading-m">Status of the underpinning service</h2>
                    <p class="govuk-hint">
                        You have told us that this service is a white-labelled service that relies on another
                        underpinning service.
                    </p>
                    <p class="govuk-hint">
                        Tell us whether the underpinning service appears on the register of digital identity and
                        attributes services.
                    </p>
                </div>
                <form asp-action="SubmitUnderpinning" asp-controller="CabTransfer" method="post"
                      class="govuk-form-group govuk-!-margin-top-7">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-visually-hidden">
                            What is the status of the underpinning service?
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input
                                    class="govuk-radios__input"
                                    id="Underpinning"
                                    name="SelectedOption"
                                    type="radio"
                                    value="Published"
                                    />
                                <label class="govuk-label govuk-radios__label" for="Published">
                                    The underpinning service is published on the register
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input
                                    class="govuk-radios__input"
                                    id="WhiteLabelled"
                                    name="SelectedOption"
                                    type="radio"
                                    value="Certified"
                                    />
                                <label class="govuk-label govuk-radios__label" for="Certified">
                                    The underpinning service is certified but not published on the register
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                            Continue
                        </button>
                        <a asp-action="SaveAndCompleteLater"
                           asp-controller="Service"
                           class="govuk-button govuk-button--secondary">
                            Save and complete later
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>