@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DVSRegister.Models.TrustFramework0_4.UnderpinningViewModel

@{
    ViewData["Title"] = "Tell us if the service is an underpinning or a white-labelled service";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PreviousStep", "Service", null, new { @class = "govuk-back-link" })

    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">@ViewData["Title"]</h1>

                <div class="govuk-body">
                    <h2 class="govuk-heading-m">Underpinning and white-label services</h2>
                    <p class="govuk-hint">
                        An underpinning service can be used by a second-party to white-label and
                        redistribute a product, service, or process.
                    </p>
                    <p class="govuk-hint">
                        A white-labelled service relies on an underpinning service produced by
                        another digital identity and attributes service provider.
                    </p>
                </div>

                <form asp-action="SubmitUnderpinning" asp-controller="CabTransfer" method="post"
                      class="govuk-form-group govuk-!-margin-top-7">
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input
                                    asp-for="SelectedOption"
                                    class="govuk-radios__input"
                                    type="radio"
                                    value="Underpinning"
                                    id="Underpinning" />
                                <label class="govuk-label govuk-radios__label" for="Underpinning">
                                    It is an underpinning service
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input 
                                    asp-for="SelectedOption"
                                    class="govuk-radios__input"
                                    type="radio"
                                    value="WhiteLabelled"
                                    id="WhiteLabelled"/>
                                <label class="govuk-label govuk-radios__label" for="WhiteLabelled">
                                    It is a white-labelled service
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input
                                    asp-for="SelectedOption"
                                    class="govuk-radios__input"
                                    type="radio"
                                    value="Neither"
                                    id="Neither"/>
                                <label class="govuk-label govuk-radios__label" for="Neither">
                                    Neither
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                            Continue
                        </button>
                        <a asp-action="SaveAndCompleteLater"
                           asp-controller="Service"
                           class="govuk-button govuk-button--secondary">
                            Save and complete later
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>