@{
    ViewData["Title"] = "Service Details: ";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";

    ViewData["Unregistered"] = true;
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "PreviousStep", "TrustFramework0_4", null, new { @class = "govuk-back-link" })

    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">@ViewData["Title"] Arc</h1>
                <p class="govuk-body govuk-hint govuk-!-padding-bottom-6">
                    Check that the details for the underpinning service are correct, and select 'Confirm'.
                </p>
                @await Html.PartialAsync("PartialViews/_UnderpinningServiceDetails", model: null)
            </div>
        </div>
    </main>
</div>