
@{
    ViewData["Title"] = "You have accepted a request to update information about this provider";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}

<div class="govuk-width-container">
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You have accepted a request to update information about this provider</h1>

            <p class="govuk-body">
                We have sent you an email to confirm that you've accepted these changes.
            </p>
            <p class="govuk-body">
                You do not need to take any further action. The changes will automatically be made to the register.
            </p>
               
        </div>
    </div>
</main>
</div>