@model ProviderReviewViewModel
@{
ViewData["Title"] = "You are reviewing a request to update information about a provider";
Layout = "~/Views/Shared/_LayoutConsent.cshtml";
}

<div class="govuk-width-container">

    <main id="main-content" class="govuk-main-wrapper" role="main">
        <h1 class="govuk-heading-xl">
            You are reviewing a request to update information about a provider
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <div class="govuk-summary-card govuk-!-margin-bottom-6">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Provider information
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Registered name</dt>
                                <dd class="govuk-summary-list__value">@Model?.PreviousProviderData?.RegisteredName</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Trading name</dt>
                                <dd class="govuk-summary-list__value">@Model?.PreviousProviderData?.TradingName</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-m">What information is changing</h2>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    <dl class="govuk-summary-list govuk-!-margin-bottom-8">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Previous information
                            </dt>
                            <dd class="govuk-summary-list__value">
                            @if (Model?.CurrentProviderData?.RegisteredName != null)
                            {
                                <strong>Registered name</strong>

                                <br>
                                @Model?.PreviousProviderData?.RegisteredName
                                <br>

                                <br>

                            }

                            @if (Model?.CurrentProviderData?.TradingName != null)
                            {
                                <strong>Trading name</strong>

                                <br>
                                @Model?.PreviousProviderData?.TradingName
                                <br> <br>
                            }


                            @if (Model?.CurrentProviderData?.PrimaryContactFullName != null)
                            {
                                <strong>Full name of primary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.PrimaryContactFullName
                                <br> <br>
                            }

                            @if (Model?.CurrentProviderData?.PrimaryContactJobTitle != null)
                            {
                                <strong>Job title of primary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.PrimaryContactJobTitle
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.PrimaryContactEmail != null)
                            {
                                <strong>Email of primary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.PrimaryContactEmail
                                <br> <br>
                            }

                            @if (Model?.CurrentProviderData?.PrimaryContactTelephoneNumber != null)
                            {
                                <strong>Telephone number of primary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.PrimaryContactTelephoneNumber
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactFullName != null)
                            {
                                <strong>Full name of secondary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.SecondaryContactFullName
                                <br> <br>
                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactJobTitle != null)
                            {
                                <strong>Job title of secondary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.SecondaryContactJobTitle
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactEmail != null)
                            {
                                <strong>Email of secondary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.SecondaryContactEmail
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactTelephoneNumber != null)
                            {
                                <strong>Telephone number of secondary contact</strong>

                                <br>
                                @Model?.PreviousProviderData?.SecondaryContactTelephoneNumber
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.PublicContactEmail != null)
                            {
                                <strong>Public contact email</strong>

                                <br>
                                @Model?.PreviousProviderData?.PublicContactEmail
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.ProviderTelephoneNumber != null)
                            {
                                <strong>Public telephone number</strong>

                                <br>
                                @Model?.PreviousProviderData?.ProviderTelephoneNumber
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.ProviderWebsiteAddress != null)
                            {
                                <strong>Public website address</strong>

                                <br>
                                @Model?.PreviousProviderData?.ProviderWebsiteAddress
                                <br> <br>

                            }
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                New information
                            </dt>
                            <dd class="govuk-summary-list__value">
                            @if (Model?.CurrentProviderData?.RegisteredName != null)
                            {
                                <strong>Registered name</strong>

                                <br>
                                @Model?.CurrentProviderData?.RegisteredName
                                <br>

                                <br>

                            }

                            @if (Model?.CurrentProviderData?.TradingName != null)
                            {
                                <strong>Trading name</strong>

                                <br>
                                @Model?.CurrentProviderData?.TradingName
                                <br> <br>
                            }


                            @if (Model?.CurrentProviderData?.PrimaryContactFullName != null)
                            {
                                <strong>Full name of primary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.PrimaryContactFullName
                                <br> <br>
                            }

                            @if (Model?.CurrentProviderData?.PrimaryContactJobTitle != null)
                            {
                                <strong>Job title of primary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.PrimaryContactJobTitle
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.PrimaryContactEmail != null)
                            {
                                <strong>Email of primary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.PrimaryContactEmail
                                <br> <br>
                            }

                            @if (Model?.CurrentProviderData?.PrimaryContactTelephoneNumber != null)
                            {
                                <strong>Telephone number of primary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.PrimaryContactTelephoneNumber
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactFullName != null)
                            {
                                <strong>Full name of secondary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.SecondaryContactFullName
                                <br> <br>
                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactJobTitle != null)
                            {
                                <strong>Job title of secondary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.SecondaryContactJobTitle
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactEmail != null)
                            {
                                <strong>Email of secondary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.SecondaryContactEmail
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.SecondaryContactTelephoneNumber != null)
                            {
                                <strong>Telephone number of secondary contact</strong>

                                <br>
                                @Model?.CurrentProviderData?.SecondaryContactTelephoneNumber
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.PublicContactEmail != null)
                            {
                                <strong>Public contact email</strong>

                                <br>
                                @Model?.CurrentProviderData?.PublicContactEmail
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.ProviderTelephoneNumber != null)
                            {
                                <strong>Public telephone number</strong>

                                <br>
                                @Model?.CurrentProviderData?.ProviderTelephoneNumber
                                <br> <br>

                            }

                            @if (Model?.CurrentProviderData?.ProviderWebsiteAddress != null)
                            {
                                <strong>Public website address</strong>

                                <br>
                                @Model?.CurrentProviderData?.ProviderWebsiteAddress
                                <br> <br>

                            }
                            </dd>
                        </div>
                    </dl>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Once you accept the update, the action can't be undone
                    </strong>
                </div>

                    <div class="govuk-button-group govuk-!-margin-top-6">
                    @using (Html.BeginForm("ApproveProviderChanges", "DSITEdit2i", FormMethod.Post))
                        {
                        @Html.HiddenFor(m => m.token)
                            <button type="submit" class="govuk-button" data-module="govuk-button" name="action" value="approve">
                                Accept update request
                            </button>


                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="action" value="cancel">
                            Cancel update request
                        </button>
                        }
                        
                    </div>
                </div>
        </div>
    </main>
</div>
