
@{
    ViewData["Title"] = "ServiceChangesApproved";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">You have accepted a request to update service information</h1>

                <p class="govuk-body">
                   You have accepted a request to update service information. A confirmation email has
                   been sent to you.
                </p>
                <p class="govuk-body">
                    The updates have not been published on the register. To publish the information, return to register
                    management and publish the service.
                </p>
                <p class="govuk-body">
                   You will recieve an email confirming that you have accepted the update request.
                </p>
            </div>
        </div>
    </main>
</div>

