@using DVSRegister.CommonUtility.Models
@model ServiceReviewViewModel
@{
ViewData["Title"] = "You are reviewing a request to update information for this service";
Layout = "~/Views/Shared/_LayoutConsent.cshtml";
}

<div class="govuk-width-container">

    <main id="main-content" class="govuk-main-wrapper" role="main">
        <h1 class="govuk-heading-xl">
            You are reviewing a request to update information for this service
        </h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <div class="govuk-summary-card govuk-!-margin-bottom-6">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Service details: @Model?.PreviousServiceData?.ServiceName
                        </h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Service name</dt>
                                <dd class="govuk-summary-list__value"> @Model?.PreviousServiceData?.ServiceName</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Provider registered name</dt>
                                <dd class="govuk-summary-list__value"> @Model?.CurrentServiceData?.Provider.RegisteredName</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m">What information is changing</h2>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                    <dl class="govuk-summary-list govuk-!-margin-bottom-8">

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Previous information
                            </dt>

                        <dd class="govuk-summary-list__value">
                        @foreach (var item in Model.PreviousDataKeyValuePair)
                        {
                                <strong>@item.Key</strong><br>

                                @foreach (var value in item.Value)
                                {
                                    @value;
                                    <br>

                                  
                                }
                                <br>
                        }
                        </dd>
                        </div>
                        @* NEW INFORMATION *@
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                New information
                            </dt>

                        @foreach (var item in Model.CurrentDataKeyValuePair)
                        {
                            <strong>@item.Key</strong>

                            <br>

                            @foreach (var value in item.Value)
                            {
                                @value;
                                <br>
                            }

                            <br>
                        }
                        </div>
                    </dl>
                
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <h2 class="govuk-heading-l">Certificate of conformity</h2>
                            <span class="govuk-body-l">Certificate-150324-Northrow-Remote Verify</span>
                            <div id="download-certificate-hint" class="govuk-hint">
                                PDF, 19.5 KB, 1 page<br />
                                This file may not be suitable for users of assistive technology.
                            </div>
                        <a href="/update-request/download-certificate?key=@Model.PreviousServiceData.FileLink&filename=@Model.PreviousServiceData.FileName" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button" target="_blank">
                            Download certificate of conformity (Opens in a new tab)
                            </a>
                    
                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    Once you accept the update request, the action can't be undone
                                </strong>
                            </div>

                            <div class="govuk-button-group govuk-!-margin-top-6">
                            @using (Html.BeginForm("ApproveServiceChanges", "DSITEdit2i", FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.token)
                                <button type="submit" class="govuk-button" data-module="govuk-button" name="action" value="approve">
                                    Accept update request
                                </button>


                                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" name="action" value="cancel">
                                    Cancel update request
                                </button>
                            }
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </main>
</div>

