
@{
    ViewData["Title"] = "CAB Service Portal";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}



<div class="govuk-width-container">
    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-8">Conformity Assessment Body Service</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">@Html.ActionLink("Create new service provider profile", "BeforeYouStart", "CabProvider", null, new { @class = "govuk-link govuk-!-font-weight-bold" })</p>
                <p class="govuk-body govuk-!-margin-bottom-9">
                    If this is the first time you are submitting information about a service provider, you will need to create a new profile for them.
                </p>
            </div>
            <div class="govuk-grid-column-one-half">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">@Html.ActionLink("Submit certificate information", "ListProviders", "Cab", null, new { @class = "govuk-link govuk-!-font-weight-bold" })</p>
                <p class="govuk-body govuk-!-margin-bottom-9">
                    Submit certificate information for new services against existing profiles.
                </p>
            </div>
        </div>
    </main>
</div>