
@{
    ViewData["Title"] = "CAB Service Portal";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}



<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-8">Conformity Assessment Body Service</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">
                    @Html.ActionLink("New service providers – create a profile", "BeforeYouStart",
                    "CabProvider", null, new { @class = "govuk-link govuk-!-font-weight-bold" })</p>
                <p class="govuk-body govuk-!-margin-bottom-9">
                    Create a new profile to submit information about a service provider for the first time.
                </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">
                    @Html.ActionLink("Existing service providers – view and amend details", "ListProviders",
                    "Cab", null, new { @class = "govuk-link govuk-!-font-weight-bold" })</p>
                <p class="govuk-body govuk-!-margin-bottom-9">
                    View and amend information about an existing provider, or their services.
                </p>
            </div>
            <div class="govuk-grid-column-one-third">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <p class="govuk-body">@Html.ActionLink("Manage service requests",
                "ServiceManagementRequests", "CabTransfer", new {previousPage = "landing"}, new { @class = "govuk-link govuk-!-font-weight-bold" })
                </p>
                <p class="govuk-body govuk-!-margin-bottom-9">
                    View, accept, or reject all requests for services to be reassigned to your Conformity Assessment Body.
                </p>
            </div>
        </div>
    </main>
</div>