@model DVSRegister.Models.CAB.URNViewModel
@{
    ViewData["Title"] = "Validate URN For Application";
    Layout = "~/Views/Shared/_Layout_CAB.cshtml";
}
@using (Html.BeginForm("URNValidationForApplication", "Cab", FormMethod.Post))
{
    <div class="govuk-width-container">
        @Html.ActionLink("Back", "LandingPage", "Cab", null, new { @class = "govuk-back-link" })
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl"> Enter the unique reference number of the digital identity and attribute service provider </h1>
                    @if (ViewData.ModelState.ErrorCount >0)
                    {
                        @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                    }
                    <div class="govuk-form-group @(Html.ViewData.ModelState.ContainsKey("URN") && Html.ViewData.ModelState["URN"].Errors.Count > 0 ? "govuk-form-group--error" : "")">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="account-number">
                                Unique reference number
                            </label>
                        </h1>
                        <div id="account-number-hint" class="govuk-hint">
                            For example, ‘URN12-1234567891-AB-123-45’
                        </div>
                        @Html.ValidationMessageFor(m => m.URN, "", new { @class = "govuk-error-message", id = "urn-error" })
                        @Html.TextBoxFor(m => m.URN, new { @class = "govuk-input govuk-input--width-50", id = "urn-number", aria_describedby = "urn-number-hint" })
                        
                    </div>
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Continue
                    </button>
                </div>
            </div>
        </main>
    </div>
}
