<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            This is a new service and some records are still being updated. </h3>
            <p class="govuk-body">You should check the expiry date for each certificate of conformity to confirm that the service is still registered. You can also <a class="govuk-notification-banner__link" href="https://www.gov.uk/government/publications/list-of-certified-digital-identity-and-attribute-services">access the previous list of certified digital identity and attribute service</a> to download an up to date list of registered services.</p>
    </div>
</div>