@model DVSRegister.Models.Error.ErrorViewModel
@{
    ViewData["Title"] = "ServiceIssue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
                <p class="govuk-body">
                    Try again later.
                </p>

                @if (Model.ApplicationType == "cab")
                {
                    <p class="govuk-body">
                        Your answers have not been saved. When the service is available, you will have to
                        @Html.ActionLink("application creation ", "LandingPage", "Cab", null, new { @class = "govuk-link" })again.
                    </p>

                    <a href="@Url.Action("StartPage", "Login")" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        Return to service

                    </a>
                }
               

            </div>
        </div>
    </main>
</div>

