@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">The removal request has expired</h1>

                <p class="govuk-body">
                    No changes have been made to the company and service information.
                </p>
                <p class="govuk-body">
                    If you need to make a new removal request, contact digital.identity.register@dsit.gov.uk.
                </p>
            </div>
        </div>
    </main>
</div>