@{
    ViewData["Title"] = "You have removed a service provider from the register";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}


<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    You have removed a service provider from the register
                </h1>
                <p class="govuk-body">
                    The company and service information for this provider has been removed from
                    the register of digital identity and attribute services.
                </p>
                <p class="govuk-body">
                    You will receive an email confirming the removal. This can take up to 20
                    minutes.
                </p>
            </div>

        </div>
    </main>
</div>