@{
    ViewData["Title"] = "Your removal request has been cancelled";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}


<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    This removal request has been cancelled
                </h1>
                <p class="govuk-body">
                   The request has been cancelled and the link is no longer valid. The service has not been removed.
                </p>

                <p class="govuk-body">
                    If you need to make a new removal request, contact digital.identity.register@dsit.gov.uk.
                </p>
             
            </div>

        </div>
    </main>
</div>
