@{
    ViewData["Title"] = "Guidance";
    Layout = "~/Views/Shared/_Layout_Register.cshtml";
    ViewData["ActiveNav"] = "Guidance";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-xl">
                        Guidance
                    </span>
                    Find registered digital identity and attribute services
                </h1>
            </div>

            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-lead">
                    How to use the register of digital identity and attribute services.
                </p>
             </div>
           <div class="govuk-grid-column-full">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            </div>


            <div class="govuk-grid-column-three-quarters">
                <p class="govuk-body-l">
                    From:
                    <strong><a target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/government/organisations/office-for-digital-identities-and-attributes" class="govuk-link">Office for Digital Identities and Attributes</a></strong>   and
                    <strong> <a target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/government/organisations/department-for-science-innovation-and-technology" class="govuk-link">Department for Science, Innovation and Technology</a></strong>
                  
                </p>
                <p class="govuk-body-l"> Published 20 September 2024</p>

                <a href="https://www.gov.uk/email/subscriptions/single-page/new?topic_id=find-registered-digital-identity-and-attribute-services" role="button" target="_blank" rel="noreferrer noopener"
                   class="govuk-button govuk-button--secondary govuk-!-display-inline-flex govuk-!-align-items-center"
                   data-module="govuk-button">
                    Get emails about this page
                </a>
             

                <p class="govuk-body-l">Contents</p>

                <ul class="govuk-list govuk-list--spaced">
                    <li>                        
                        &mdash; &nbsp; <a class="govuk-link govuk-link--no-underline" href="#use-for">What you can use the register for</a>                 
                    </li>
                    <li>
                        &mdash; &nbsp; <a class="govuk-link govuk-link--no-underline" href="#cannot-use-for">What you cannot use the register for</a>
                    </li>
                    <li>
                        &mdash; &nbsp; <a class="govuk-link govuk-link--no-underline" href="#join-register">If you’re a digital identity provider who wants to join the register</a>
                    </li>                  
                </ul>


                <button type="button" id="printButton"
                        class="govuk-button govuk-button--secondary  govuk-!-align-items-center js-hidden">
                    Print this page
                </button>


                <p class="govuk-body govuk-!-margin-bottom-7">
                    The statutory register of digital identity and attribute services is a public list of
                    government-registered organisations that provide digital identity services
                    certified against the
                    <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/government/collections/uk-digital-identity-and-attributes-trust-framework">UK digital identity and attributes trust framework</a>.
                </p>

             
                <h2 class="govuk-heading-m" id="use-for">
                    What you can use this register for
                </h2>
           

                <p class="govuk-body">Anyone can access the register to:</p>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>view the full list of registered digital identity services</li>
                    <li>search for a specific digital identity provider or service</li>
                    <li>check if a provider holds a valid certificate for its services</li>
                    <li>filter providers or services based on your requirements</li>
                </ul>

          
            
             
                <h2 class="govuk-heading-m" id="cannot-use-for">
                    What you cannot use the register for
                </h2>

                <p class="govuk-body">You cannot use this service to find:</p>
                <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                    <li>commercial information about a provider, such as pricing for services</li>
                    <li>additional details about a provider, such as their size or experience</li>
                </ul>
              
             
                <h2 class="govuk-heading-m" id="join-register">
                    If you’re a digital identity provider who wants to join the register
                </h2>

                <p class="govuk-body govuk-!-margin-bottom-7">
                        Read our <a class="govuk-link" target="_blank" rel="noreferrer noopener" href="https://www.gov.uk/guidance/join-the-register-of-digital-identity-and-attribute-services">guidance on how to become certified and apply to join the register</a>.
                </p>
            
            </div>
        </div>
    </main>
</div>
