
@{
    ViewData["Title"] = "Find certified digital identity and attribute services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <h1 class="govuk-heading-xl">
            Register of digital identity and attribute services
        </h1>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body govuk-!-margin-bottom-7">Last updated 18 June 2024 —  <a href="#" class="govuk-link">See all updates</a></p>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <search>
                    <div class="govuk-form-group">
                        <h2 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--m" for="search-register">
                                Search for a service provider or service
                            </label>
                        </h2>
                        <input class="govuk-input govuk-!-margin-bottom-4" id="search-register" name="searchRegister" type="text">
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Search
                            </button>
                            <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                Clear search
                            </button>
                        </div>
                    </div>
                    <h2 class="govuk-heading-m">Filters</h2>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h3 class="govuk-fieldset__heading">
                                    Role types
                                </h3>
                            </legend>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="identity" name="roletype" type="checkbox" value="identity">
                                    <label class="govuk-label govuk-checkboxes__label" for="identity">
                                        Identity
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="attribute" name="roletype" type="checkbox" value="attribute">
                                    <label class="govuk-label govuk-checkboxes__label" for="attribute">
                                        Attribute
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="orchestration" name="roletype" type="checkbox" value="orchestration">
                                    <label class="govuk-label govuk-checkboxes__label" for="orchestration">
                                        Orchestration
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                <h3 class="govuk-fieldset__heading">
                                    Supplementary schemes
                                </h3>
                            </legend>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="right-to-work" name="schemes" type="checkbox" value="rightToWork">
                                    <label class="govuk-label govuk-checkboxes__label" for="right-to-work">
                                        Right to Work
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="right-to-rent" name="schemes" type="checkbox" value="rightToRent">
                                    <label class="govuk-label govuk-checkboxes__label" for="right-to-rent">
                                        Right to Rent
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="disclosure-service" name="schemes" type="checkbox" value="disclosure-barring">
                                    <label class="govuk-label govuk-checkboxes__label" for="disclosure-service">
                                        Disclosure and Barring
                                        Service
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Apply filters
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Clear filters
                        </button>
                    </div>
                </search>
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><span class="govuk-visually-hidden">Search results</span> Showing 1 - 20 of 43 result</h2>
                <div class="dsit-search-filter-box">
                    <h3 class="govuk-heading-s govuk-!-margin-right-3">Containing <span class="govuk-visually-hidden">the following filters:</span></h3>
                    <ul class="dsit-search-filter-box__tags">

                        <li><a class="dsit-search-filter-box__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>

                        <li><a class="dsit-search-filter-box__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>

                    </ul>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                <ul role="list" class="govuk-list govuk-!-margin-bottom-7">
                    <li>
                        <h3 class="govuk-heading-m"><a href="#">Northrow</a></h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">Registered name: Northrow Limited</p>
                        <p class="govuk-body-s dsit-secondary-text-colour">Address: 85 Great Portland Street, London, W1W 7LT, United Kingdom</p>
                        <ul role="list" class="govuk-list">
                            <li>
                                <p class="govuk-body govuk-!-margin-bottom-2">Service 1: Secure ID</p>
                                <p class="govuk-body-s dsit-secondary-text-colour govuk-!-margin-bottom-2">Role types: Identity, Attribute</p>
                                <p class="govuk-body-s dsit-secondary-text-colour">Supplementary schemes: Right to Work</p>
                            </li>
                            <li>
                                <p class="govuk-body govuk-!-margin-bottom-2">Service 2: Carousel Identity</p>
                                <p class="govuk-body-s dsit-secondary-text-colour">Supplementary schemes: Right to Rent</p>
                            </li>
                        </ul>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </li>
                    <li>
                        <h3 class="govuk-heading-m"><a href="#">Verify Sphere</a></h3>
                        <p class="govuk-body govuk-!-margin-bottom-2">Registered name: Sphere Technologies</p>
                        <p class="govuk-body-s dsit-secondary-text-colour">Address: 85 Great Portland Street, London, W1W 7LT, United Kingdom</p>
                        <ul role="list" class="govuk-list">
                            <li>
                                <p class="govuk-body govuk-!-margin-bottom-2">Service 1: Secure ID</p>
                                <p class="govuk-body-s dsit-secondary-text-colour govuk-!-margin-bottom-2">Role types: Identity, Attribute</p>
                                <p class="govuk-body-s dsit-secondary-text-colour">Supplementary schemes: Right to Work</p>
                            </li>
                            <li>
                                <p class="govuk-body govuk-!-margin-bottom-2">Service 2: Carousel Identity</p>
                                <p class="govuk-body-s dsit-secondary-text-colour">Supplementary schemes: Right to Rent</p>
                            </li>
                        </ul>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </li>
                </ul>
                <p class="govuk-body govuk-!-font-weight-bold">Showing 1 - 20 of 43 results</p>
                <nav class="govuk-pagination" aria-label="Pagination">
                    <div class="govuk-pagination__prev">
                        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            <span class="govuk-pagination__link-title">
                                Previous<span class="govuk-visually-hidden"> page</span>
                            </span>
                        </a>
                    </div>
                    <ul class="govuk-pagination__list">
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                                1
                            </a>
                        </li>
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
                                2
                            </a>
                        </li>
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                                3
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-pagination__next">
                        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                            <span class="govuk-pagination__link-title">
                                Next<span class="govuk-visually-hidden"> page</span>
                            </span>
                            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <p class="govuk-body govuk-!-margin-bottom-7">Last updated 18 June 2024 —  <a href="#" class="govuk-link">See all updates</a></p>
    </main>
</div>
