@using DVSRegister.CommonUtility.Models.Enums;
@using DVSRegister.Extensions
@model RegisterPublishLogsViewModel
@{
    ViewData["Title"] = "Updates : Register of digital identity and attribute services";
    Layout = "~/Views/Shared/_Layout_Register.cshtml";
    ViewData["ActiveUpdates"] = "govuk-header__navigation-item--active";
    
    var notificationBanner = new NotificationBannerViewModel
    {
        Title = "Important",
        Heading = "This is a new service and some records are still being updated.",
        HtmlContent = @"
        <p class=""govuk-body"">
            You should check the expiry date for each certificate of conformity to confirm that the service is still 
            registered. You can also <a class=""govuk-notification-banner__link"" 
            href=""https://www.gov.uk/government/publications/list-of-certified-digital-identity-and-attribute-services""> 
            access the previous list of certified digital identity and attribute services</a> to download an up to date list of registered services.
        </p>".Trim()
    };
}
<div class="govuk-width-container">
    @Html.ActionLink("Back", "Register", "Register", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Updates : Register of digital identity and attribute services</h1>
                @foreach (var item in Model.RegisterPublishLog)
                {
                    <h2 class="govuk-heading-m">@DateTimeExtensions.FormatDateTime(@item.CreatedTime)</h2>
                    <p class="govuk-body">@item.Description</p>
                }

            </div>
        </div>
    </main>
</div>

