@using DVSRegister.CommonUtility.Models.Enums;
@using DVSRegister.Extensions
@model RegisterPublishLogsViewModel
@{
    ViewData["Title"] = "Updates : Register of digital identity and attribute services";
    Layout = "~/Views/Shared/_Layout_Register.cshtml";
    ViewData["ActiveNav"] = "Updates";    
}
<div class="govuk-width-container">
    @await Html.PartialAsync("~/Views/Register/PartialViews/_RegisterBreadCrumbsView.cshtml", "Updates")
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Updates : Register of digital identity and attribute services</h1>
                @foreach (var item in Model.RegisterPublishLog)
                {
                    <h2 class="govuk-heading-m">@DateTimeExtensions.FormatDateTime(@item.CreatedTime)</h2>
                    <p class="govuk-body">@item.Description</p>
                }

            </div>
        </div>
    </main>
</div>

