
@{
    ViewData["Title"] = "BeforeYouStart";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    @Html.ActionLink("Back", "LandingPage", "Cab", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl">Before you create a profile</h1>

                <p class="govuk-body">Before starting your submission, check that you have all the required information listed below. You must complete your submission in a single session as the application does not support saving and resuming at a later time.</p>

                <p class="govuk-body">You will need the following information from the digital identity and attribute service provider. </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>Registered name</li>
                    <li>Trading name</li>
                    <li>Companies House registration number, or charity registration number, if applicable</li>
                    <li>D-U-N-S Number, if applicable</li>
                    <li>Primary contact details (name, role, email address and telephone number)</li>
                    <li>Secondary contact details (name, role, email address and telephone number)</li>
                    <li>Public contact email</li>
                    <li>Telephone number</li>
                    <li>Website address</li>
                </ul>

                <p class="govuk-body">Check your information carefully before proceeding and make sure all contact details are up to date. Once your submission is approved, the information you have provided will be publicly available on the register of digital identity and attribute services.</p>

                <p class="govuk-body">@Html.ActionLink("Continue", "RegisteredName", "CabProvider", null, new { @class = "govuk-button" })</p>
            </div>
        </div>
    </main>
</div>

