@using Microsoft.AspNetCore.Mvc.ModelBinding
@model DVSRegister.Models.CAB.PublicContactViewModel
@{
    ViewData["Title"] = "Change public provider information";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@using (Html.BeginForm("UpdatePublicProviderInformation", "CabProvider", FormMethod.Post))
{
@Html.HiddenFor(m => m.ProviderId)
<div class="govuk-width-container">
    @Html.ActionLink("Back", "ProviderProfileDetails", "Cab", new { providerId = Model.ProviderId }, new { @class = "govuk-back-link" })
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">

                @if (ViewData.ModelState.ErrorCount > 0)
                {

                    ViewData["Title"] = "Error: " + ViewData["Title"];
                    @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                }

                <h1 class="govuk-heading-xl">
                    Change public provider information
                </h1>

                @{
                bool emailHasError = Html.ViewData.ModelState.ContainsKey("PublicContactEmail")
                && Html?.ViewData?.ModelState["PublicContactEmail"]?.Errors.Count > 0;
                var emailViewModel = new TextBoxViewModel
                {
                PropertyName = "PublicContactEmail",
                Label = "Contact email",
                Value = Model?.PublicContactEmail ?? string.Empty,
                TextBoxType = "email",
                Class = "govuk-input",
                HasError = emailHasError,
                ErrorMessage = emailHasError ? Html.ViewData?.ModelState["PublicContactEmail"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                };
                }
                @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", emailViewModel)


                @{
                bool telNumberHasError = Html.ViewData.ModelState.ContainsKey("ProviderTelephoneNumber")
                && Html?.ViewData?.ModelState["ProviderTelephoneNumber"]?.Errors.Count > 0;
                var telephoneNumberViewModel = new TextBoxViewModel
                {
                PropertyName = "ProviderTelephoneNumber",
                Label = "Telephone number",
                Value = Model?.ProviderTelephoneNumber ?? string.Empty,
                Class = "govuk-input",              
                HasError = telNumberHasError,
                ErrorMessage = telNumberHasError ? Html.ViewData?.ModelState["ProviderTelephoneNumber"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                };
                }
                @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", telephoneNumberViewModel)


                @{
                bool websiteHasError = Html.ViewData.ModelState.ContainsKey("ProviderWebsiteAddress")
                && Html?.ViewData?.ModelState["ProviderWebsiteAddress"]?.Errors.Count > 0;
                var websiteViewmodel = new TextBoxViewModel
                {
                PropertyName = "ProviderWebsiteAddress",
                Label = "Website address",
                Value = Model?.ProviderWebsiteAddress ?? string.Empty,
                Class = "govuk-input",
                Hint = "For example, www.yourcompanyexpress.co.uk",
                HasError = websiteHasError,
                ErrorMessage = websiteHasError ? Html.ViewData?.ModelState["ProviderWebsiteAddress"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                };
                }

                @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", websiteViewmodel)

                @{
                bool linkToContactPageHasError = Html.ViewData.ModelState.ContainsKey("LinkToContactPage")
                && Html?.ViewData?.ModelState["LinkToContactPage"]?.Errors.Count > 0;
                var linkToContactPageViewModel = new TextBoxViewModel
                {
                PropertyName = "LinkToContactPage",
                Label = "Link to Contact Page",
                Value = Model?.LinkToContactPage ?? string.Empty,
                Class = "govuk-input",
                Hint = "For example, www.yourcompanyexpress.co.uk/contact",
                HasError = linkToContactPageHasError,
                ErrorMessage = linkToContactPageHasError ? Html.ViewData?.ModelState["LinkToContactPage"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                };
                }

                @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", linkToContactPageViewModel)

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Change
                    </button>
                    <a href="/cab-service/profile-information?providerId=@Model.ProviderId" class="govuk-button govuk-button--secondary" role="button" draggable="false" data-module="govuk-button">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
    </main>
</div>

}