@using Microsoft.AspNetCore.Mvc.ModelBinding
@model DVSRegister.Models.CAB.ProfileSummaryViewModel
@{
    ViewData["Title"] = "Change public provider information";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

@{
    bool hasError = false;
}

<div class="govuk-width-container">
    @*@Html.ActionLink("Back", "ProviderOverview", "Cab", new { providerId = Model.Id}, new { @class = "govuk-back-link" })*@
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                @if (Html.ViewData?.ModelState.ContainsKey("PublicContactEmail") == true)
                {
                    var errors = Html.ViewData?.ModelState["PublicContactEmail"]?.Errors;
                    if (errors != null && errors.Count > 0)
                    {
                        hasError = true;
                        ViewData["Title"] = "Error: " + ViewData["Title"];
                        @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                                 new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("PublicContactEmail", errors))
                    }
                }

                <h1 class="govuk-heading-xl">
                    Change public provider information
                </h1>

                @{
                    var emailViewModel = new TextBoxViewModel
                {
                    PropertyName = "PublicContactEmail",
                    Label = "Contact email",
                    Value = Model?.PublicContactEmail ?? string.Empty,
                    TextBoxType = "email",
                    Class = "govuk-input",
                    HasError = hasError,
                    ErrorMessage = hasError ? Html.ViewData?.ModelState["PublicContactEmail"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                };
                }

                @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", emailViewModel)

                @{
                    var telephoneNumberViewModel = new TextBoxViewModel
                {
                    PropertyName = "ProviderTelephoneNumber",
                    Label = "Telephone number",
                    Value = Model?.ProviderTelephoneNumber ?? string.Empty,
                    Class = "govuk-input",
                    HasError = hasError,
                    ErrorMessage = hasError ? Html.ViewData?.ModelState["ProviderTelephoneNumber"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                };
                }

                @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", telephoneNumberViewModel)

                @{
                    var websiteViewmodel = new TextBoxViewModel
                {
                    PropertyName = "ProviderWebsiteAddress",
                    Label = "Website address",
                    Value = Model?.ProviderWebsiteAddress ?? string.Empty,
                    Class = "govuk-input",
                    HasError = hasError,
                    ErrorMessage = hasError ? Html.ViewData?.ModelState["ProviderWebsiteAddress"]?.Errors[0].ErrorMessage ?? string.Empty : string.Empty,
                };
                }

                @await Html.PartialAsync("~/Views/PartialViews/_TextBoxView.cshtml", websiteViewmodel);

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Change
                    </button>
                    <a class="govuk-link" href="#">Cancel</a>
                </div>

            </div>
        </div>
    </main>
</div>

