@model DVSRegister.Models.CAB.ProfileSummaryViewModel
@{
    ViewData["Title"] = "Does the digital identity and attribute service provider have a Companies House or charity registration number?";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
@{
    bool isvalid = true;
}

@Html.HiddenFor(m => m.FromSummaryPage, new { @Value = ViewBag.fromSummaryPage })
<div class="govuk-width-container">
    @Html.ActionLink("Back", "SelectIdentityProfiles", "Cab", null, new { @class = "govuk-back-link" })
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl form-title">
                    Does the digital identity and attribute service provider have a Companies House or charity registration number?
                </h1>

                @if (Html.ViewData?.ModelState.ContainsKey("HasRegistrationNumber") == true && Html.ViewData.ModelState["HasRegistrationNumber"].Errors.Count > 0)
                {
                    isvalid = false;
                    ViewData["Title"] = "Error: " + ViewData["Title"];
                    @await Html.PartialAsync("~/Views/PartialViews/_SpecificErrorsView.cshtml",
                                new Tuple<string, IEnumerable<Microsoft.AspNetCore.Mvc.ModelBinding.ModelError>>("RegisteredName", Html.ViewData.ModelState["HasRegistrationNumber"]?.Errors))

                }

                @await Html.PartialAsync("~/Views/PartialViews/_TwoRadioButtonGroupView.cshtml", new TwoRadioButtonGroupViewModel
            {
                PropertyName = "HasRegistrationNumber",
                Value = true,
                HasError = Html.ViewData.ModelState.ContainsKey("HasRegistrationNumber") && Html.ViewData.ModelState["HasRegistrationNumber"].Errors.Count > 0,
                ErrorMessage = Html.ViewData.ModelState.ContainsKey("HasRegistrationNumber") && Html.ViewData.ModelState["HasRegistrationNumber"].Errors.Count > 0 ?
                Html.ViewData.ModelState["HasRegistrationNumber"].Errors[0].ErrorMessage : string.Empty,
                Label1 = "Yes",
                Label2 = "No"
            })

                <button type="submit" class="govuk-button govuk-!-margin-top-2">Continue</button>
            </div>
        </div>
    </main>
</div>
