@{
    ViewData["Title"] = "Service provider profile created successfully";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Service provider profile created successfully
                    </h1>
                </div>
                <p class="govuk-body">
                    The digital identity and attribute service provider’s profile has been created. You can view the profile by returning to 'All Providers'.
                </p>
                
                <h2 class="govuk-heading-m">What happens next</h2>
                <p class="govuk-body">
                    You can now return to home by selecting ‘All Providers’ to create a service submission for this provider.
                </p>
                <p class="govuk-body">
                    If you need help, you can contact DSIT at <a href="mailto:digital.identity.register@dsit.gov.uk">digital.identity.register@dsit.gov.uk.</a>
                </p>
                <p class="govuk-body">
                    You can close this page now.
                </p>

            </div>
        </div>
        <a href="@Url.Action("AllProviders", "Home")" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Go to All Providers

        </a>
    </main>
</div>

