@model DVSRegister.Models.CAB.SecondaryContactViewModel
@{
    ViewData["Title"] = "The digital identity and attribute service provider’s secondary contact";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}



@using (Html.BeginForm("SaveSecondaryContact", "CabProvider", FormMethod.Post))
{
    @Html.HiddenFor(m => m.SourcePage)
    @Html.HiddenFor(m => m.RefererURL)
    <div class="govuk-width-container">
        <a href="@Model.RefererURL" class="govuk-back-link">
            Back
        </a>
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                @if (ViewData.ModelState.ErrorCount >0)
                {
                    
                    ViewData["Title"] = "Error: " + ViewData["Title"];
                    @await Html.PartialAsync("~/Views/PartialViews/_ErrorSummaryView.cshtml", Model)
                }



                <h1 class="govuk-heading-xl form-title">The digital identity and attribute service provider’s secondary contact</h1>

                <p class="govuk-body">
                    You should ask the service provider to provide this information. OfDIA will use the contact details you provide to confirm the provider’s agreement to proceed with the application.
                </p>

                    @await Html.PartialAsync("~/Views/CabProvider/PartialViews/_SecondaryContactView.cshtml", Model)

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button govuk-!-margin-top-2" name="action" value="continue" data-module="govuk-button">Continue</button>
                        <button type="submit" role="link" class="govuk-button govuk-button--secondary" name="action" value="draft" data-module="govuk-button">  Save and complete later </button>
                    </div>
             </div>
        </div>
    </main>
</div>
}
