@{
    ViewData["Title"] = "Your service has been removed from the register";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Your service has been removed from the register</h1>
                <p class="govuk-body">
                    You cannot access your UK CertifID trust mark because your service has since
                    been removed from the register of digital identity and attribute services.
                </p>
                <p class="govuk-body">
                    For further support or information, please contact <a href="mailto:digital.identity.register@dsit.gov.uk">digital.identity.register@dsit.gov.uk.</a>
                </p>
            </div>
        </div>
    </main>
</div>
