@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
                <p class="govuk-body">
                    Try again later.
                </p>
                <p class="govuk-body">
                    For further support or information, please contact <a href="mailto:digital.identity.register@dsit.gov.uk">digital.identity.register@dsit.gov.uk.</a>
                </p>
            </div>
        </div>
    </main>
</div>
