@{
    ViewData["Title"] = "There is a problem with the service";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">There is a problem with the service</h1>
               
                <p class="govuk-body">
                    Please try again. If the problem persists, contact digital.identity.register@dsit.gov.uk
            </div>
        </div>
    </main>
</div>
