@{
    ViewData["Title"] = "Your details have been removed from the register of digital identity and attribute services";
    Layout = "~/Views/Shared/_LayoutConsentPages.cshtml";
}


<div class="govuk-width-container">
    <main id="main-content" class="govuk-main-wrapper" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Your details have been removed from the register of digital identity and attribute services
                </h1>
                <p class="govuk-body">
                    All company information and services listed under your profile have been removed from the register.
                </p>
                <p class="govuk-body">
                    You will receive an email confirming the removal. This can take up to 20
                    minutes.
                </p>
            </div>

        </div>
    </main>
</div>
